<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kendo UI Labs</title>
    <meta name="description" content="Kendo UI Labs is the home for Kendo UI experiments and integrations. In this organization, you'll find a myriad of sample repositories and integration libraries that we hope you'll find helpful as you build web and hybrid mobile apps using Kendo UI Web, DataViz and Mobile.">
    <meta name="author" content="Kendo UI">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href="stylesheets/lib/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/lib/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="stylesheets/styles.css?v=1.0">
    <link rel="stylesheet" href="stylesheets/nav-style.css">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

    <div id="header">
      <!-- Nav Start -->
      <div id="telerik-navi">
          <div id="telerik-main">
            <ul id="telerik-products" class="inner">
              <li class="dev-tools">
                <a href="//www.telerik.com/developer-productivity-tools.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/dev-tools']);">
                  <h2><small>.NET Developer Tools </small>DevTools</h2>
                  <p>UI Controls For</p>
                  <ul>
                    <li>&#8226; ASP.NET AJAX, ASP.NET MVC</li>
                    <li>&#8226; WPF, Silverlight, WinForms</li>
                    <li>&#8226; Windows 8, Windows Phone</li>
                  </ul>
                  <p>Reporting and Data Access Tools</p><br />
                  <p>Productivity Tools</p>
                  <ul>
                    <li>&#8226; Refactoring and Code Analysis</li>
                    <li>&#8226; Mocking, Decompiling, Tracing</li>
                  </ul>
                  <p>DevCraft Value Bundles</p>
                </a>
              </li>
              <li class="kendo">
                <a href="//www.telerik.com/kendo-ui" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/kendo-ui']);">
                  <h2><small>HTML5 / JavaScript Development </small>Kendo UI</h2>
                  <p>Everything you need to build sites and mobile apps with JavaScript and HTML5</p>
                </a>
              </li>
              <li class="icenium">
                <a href="//www.telerik.com/appbuilder/" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/icenium']);">
                  <h2><small>Hybrid Mobile Development </small>Telerik AppBuilder</h2>
                  <p>Cross-platform Mobile Development Tool with <br />cloud-based architecture</p>
                </a>
              </li>
              <li class="test-studio">
                <a href="//www.telerik.com/automated-testing-tools/" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/test-studio']);">
                  <h2><small>Software Testing Tools </small>Test Studio</h2>
                  <p>One easy tool for Functional, Performance, Load and Mobile software testing</p>
                </a>
              </li>
              <li class="eqatec">
                <a href="//www.telerik.com/analytics/" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/eqatec']);">
                  <h2><small>Application Analytics </small>Telerik Analytics</h2>
                  <p>Real-time usage monitoring and app insights for mobile, web and desktop applications.</p>
                </a>
              </li>
              <li class="sitefinity">
                <a href="//www.sitefinity.com" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/sitefinity']);">
                  <h2><small>Online Business Platform </small>Sitefinity CMS</h2>
                  <p>Everything for your online business - content management, ecommerce, emarketing</p>
                </a>
              </li>
              <li class="team-pulse">
                <a href="//www.telerik.com/agile-project-management-tools/" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/teampulse']);">
                  <h2><small>Agile Project Management </small>TeamPulse</h2>
                  <p>Simple and intuitive project management and collaboration software</p>
                </a>
              </li>
            </ul>

            <div id="sitenav-contacts">
              <div class="inner">
                <div class="call-us">
                  <h3>Contact us</h3>
                  <span>We are here for you.</span>
                </div>
                <ul>
                  <li class="us">+1&#8210;888&#8210;365&#8210;2779</li>
                  <li class="uk">+44&#8210;20&#8210;7291&#8210;0580</li>
                  <li class="bg">+359&#8210;2&#8210;8099850</li>
                  <li class="de">+49&#8210;89&#8210;2441642&#8210;70</li>
                  <li class="au">+61&#8210;2&#8210;8090&#8210;1465</li>
                  <li class="mail"><a href="mailto:sales@telerik.com" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/sales-mail']);">sales@telerik.com</a></li>
                </ul>
                <a href="//www.telerik.com/account" class="your-account" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/sign-in']);">Your account <span>Access to your products, updates and support</span></a>
              </div>
            </div>
          </div>
        <div id="telerik-bar">
          <div class="inner">
            <a id="telerik-logo" href="//www.telerik.com" title="Telerik" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/telerik-logo']);"><img src="//www.telerik-web-assets.com/shared/telerik-navigation/img/telerik-logo.png" width="107" height="35" alt="Telerik" /><span id="telerik-slogan"></span></a>
            <span id="toggle-main">Product Families</span>

            <ul id="telerik-menu">
                <li id="toggle-about-us-menu">ABOUT US<span class="arrow"></span>
                  <div id="telerik-about-us-panel" class="telerik-menu-panel">
                    <h3>About Telerik</h3>
                    <ul>
                      <li><a href="//www.telerik.com/company.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/company']);">Company</a></li>
                      <li><a href="//www.telerik.com/company/press-center.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/press-center']);">Press Center</a></li>
                      <li><a href="//www.telerik.com/company/customers.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/customers']);">Customers</a></li>
                      <li><a href="//www.telerik.com/community.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/community']);">Community</a></li>
                      <li><a href="//www.telerik.com/company/careers.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/careers']);">Careers</a></li>
                      <li><a href="//www.telerik.com/company/contact-us.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/contacts']);">Contacts</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <!-- Nav End -->

        <header class="wrapper">
            <a id="logo" href="#"><img src="images/logo.png" title="Kendo UI" /></a>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#projects">Labs Projects</a></li>
                    <li><a href="#license">License information</a></li>
                    <li><a href="#support">Support</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div id="content">
    <article id="about">
        <header>
            <h1>What is the Kendo UI Labs?</h1>
        </header>
        <section>
            <div class="icon"><span class="about-icon"></span></div>
            <h2>About</h2>
            <p>You use <a href="http://www.telerik.com/kendo-ui" title="Kendo UI - The Way of HTML5">Kendo UI</a>, but you may not always use JUST Kendo UI in your projects. Maybe you like to use Kendo UI with <a href="http://knockoutjs.com/" title="Knockout JS">Knockout</a>,
            or <a href="http://angularjs.org/">Angularjs</a>, or even <a href="http://backbonejs.org/">Backbone</a>. Perhaps you need a widget that's mostly like the Autocomplete, but not quite. Even though most
            3rd party libraries play just fine with Kendo UI, you may find yourself wishing for more, be it a custom DataSource for <a href="http://www.breezejs.com/">Breeze.js</a> or a
            Kendo UI Widget that combines Autocomplete with a YouTube search. Whatever it may be, Kendo UI Labs is the home for those Kendo UI
            experiments and integrations. In this organization, you'll find a myriad of sample repositories and integration libraries that we
            hope you'll find helpful as you build web and hybrid mobile apps using Kendo UI Web, DataViz and Mobile.</p>
        </section>
        <section>
            <div class="icon"><span class="benefits-icon"></span></div>
            <h2>Benefits</h2>
            <p>Kendo UI Labs projects are "extensions" to Kendo UI meant to help you stay productive. Though these projects are not officially part of Kendo
            UI, and therefore not part of the supported product, they do leverage the in-depth knowledge of Kendo UI team members and customers. As such,
            you can be certain that each project in this organization has been built by people who know and use Kendo UI every day. What's more, because
            these projects are all open-source, you're more than welcome to get involved and help out if a project doesn't yet fully meet your specific needs.
            </p>
        </section>
        <section>
            <div class="icon"><span class="getting-started-icon"></span></div>
            <h2>Getting Started</h2>
            <p>Each Kendo UI Labs project is designed to provide drop-in capabilities for your apps, support for your development workflow or
            example implementations of common Kendo UI app patterns. Every repo has its own getting started guide, so feel free to pick a repo
            or two from <a href="#projects">the list below</a> and visit the project pages for each to learn more.</p>
        </section>
    </article>
    <article id="projects">
        <header>
            <h1>Labs Projects</h1>
            <p>Labs projects are stewarded by both members of the Kendo UI team and Kendo UI experts from across the community. We want these projects
                to be useful extensions to Kendo UI for our customers, and your involvement is key. To jump in, just find a repo and fork it or file an
                issue. For general questions or comments, feel free to contact us on Twitter at <a href="https://twitter.com/kendoui" title="KendoUI on Twitter">@KendoUI</a>. And have fun!</p>
        </header>
        <section id="staticList" class="hidden">
            <ul class="headerList">
                <li>
                    <span class="project-name">Project Name</span>
                    <span class="project-desc">Description</span>
                </li>
            </ul>
            <ul>
                <li>
                    <span class="project-name">
                        <a href="https://github.com/kendo-labs/angular-kendo" title="A project to create a robust set of Angular.js bindings for Kendo UI widgets">angular-kendo</a>
                    </span>
                    <span class="project-desc">A project to create a robust set of Angular.js bindings for Kendo UI widgets</span>
                </li>
                <li>
                    <span class="project-name">
                        <a href="https://github.com/kendo-labs/kendo-backbone" title="Integrating Kendo UI with BackboneJS">backbone-kendo</a>
                    </span>
                    <span class="project-desc">Integrating Kendo UI with BackboneJS</span>
                </li>
                <li>
                    <span class="project-name">
                        <a href="https://github.com/kendo-labs/breeze-kendo" title="Provides integrations from Kendo UI Data Source with Breeze.js">breeze-kendo</a>
                    </span>
                    <span class="project-desc">Provides integrations from Kendo UI Data Source with Breeze.js</span>
                </li>
                <li>
                    <span class="project-name">
                        <a href="https://github.com/kendo-labs/kendo-plugins" title="A directory of plugins for Kendo UI">kendo-plugins</a>
                    </span>
                    <span class="project-desc">A directory of plugins for Kendo UI</span>
                </li>
                <li>
                    <span class="project-name">
                        <a href="https://github.com/kendo-labs/kendo-rails" title="Gem for using Kendo UI with Rails Applications">kendo-rails</a>
                    </span>
                    <span class="project-desc">Gem for using Kendo UI with Rails Applications</span>
                </li>
                <li>
                    <span class="project-name">
                        <a href="https://github.com/kendo-labs/kendo-snippets" title="A collection of snippets for various IDE's">kendo-snippets</a>
                    </span>
                    <span class="project-desc">A collection of snippets for various IDE's</span>
                </li>
                <li>
                    <span class="project-name">
                        <a href="https://github.com/kendo-labs/knockout-kendo" title="A project to create a robust set of Knockout.js bindings for the Kendo UI widgets.">knockout-kendo</a>
                    </span>
                    <span class="project-desc">A project to create a robust set of Knockout.js bindings for Kendo UI widgets.</span>
                </li>
                <li>
                    <span class="project-name">
                        <a href="https://github.com/kendo-labs/packaged-app-bootstrap" title="A bootstrap for creating Chrome Packaged Apps with Kendo UI.">packaged-app-bootstrap</a>
                    </span>
                    <span class="project-desc">A bootstrap for creating Chrome Packaged Apps with Kendo UI.</span>
                </li>
                <li>
                    <span class="project-name">
                        <a href="https://github.com/kendo-labs/todomvc" title="Todomvc Implementation for Kendo UI">todomvc</a>
                    </span>
                    <span class="project-desc">Todomvc Implementation for Kendo UI</span>
                </li>
            </ul>
        </section>
        <section id="dynamicList">
            <ul class="headerList">
                <li>
                    <span class="project-name">Project Name</span> <span class="project-date">Last<br /> Release</span> <span class="project-version">Current<br/> Version</span> <span class="last-commit">Last Commit</span>
                </li>
            </ul>
            <ul id="projectsList">
            </ul>
            <p><br /> Visit the <a href="http://www.github.com/kendo-labs">Kendo UI Labs Organization</a> (GitHub)</p>
        </section>
    </article>
    <article id="license">
        <header>
            <h1>License information</h1>
            <p>Kendo UI Labs projects are all released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 license</a>. This license applies ONLY to the project-specific source of each repository and does not extend to Kendo UI itself, or any other 3rd party libraries used in a repository. For licensing information about Kendo UI, see the <a href="https://www.telerik.com/kendo-ui/purchase/license-agreement.aspx">License Agreements page</a> at <a href="http://www.telerik.com/kendo-ui">www.telerik.com/kendo-ui</a>.</p>
        </header>
    </article>
    <article id="support">
        <header>
            <h1>Support</h1>
            <p> While this organization is supported by Kendo UI, and the projects within are stewarded in part by members of the Kendo UI team, these projects are not covered under the support agreements afforded to Kendo UI commercial and trial license holders. Kendo UI Labs projects do not provide official Kendo UI features and are not to be considered part of any version of Kendo UI (Web, DataViz, Mobile or Complete). As such, these projects are not officially supported by the Kendo UI team. Any and all support requests (via tickets or Forum posts) will be directed to either <a href="http://stackoverflow.com/questions/tagged/kendo-ui" title="StackOverflow Forums">StackOverflow</a>, or to the Issues list for that Kendo UI Labs project. To obtain support or assistance related to any Labs project, please visit <a href="http://stackoverflow.com/questions/tagged/kendo-ui" title="StackOverflow Forums">StackOverflow</a>, or file an issue in the repo in question.</p>
        </header>
    </article>
    </div>
    <footer>
        <p><a href="http://www.telerik.com/kendo-ui">Kendo UI framework</a> is developed by <a href="http://www.telerik.com">Telerik</a> - a leading provider of UI components for web, desktop and mobile applications. Trusted by over 100,000 customers worldwide for our devotion to quality and industry-best technical support, Telerik helps professionals maximize their productivity and "deliver more than expected" every day.</p>
        <p>Copyright &copy; 2011 - 2013 <a href="http://www.telerik.com">Telerik Inc.</a> All rights reserved.</p>
        <p><a href="http://thenounproject.com/noun/idea/#icon-No762" target="_blank">Idea</a> designed by <a href="http://thenounproject.com/" target="_blank">The Noun Project</a> from The Noun Project</br>
        <a href="http://thenounproject.com/noun/rocket/#icon-No1172" target="_blank">Rocket</a> designed by <a href="http://thenounproject.com/dawcee" target="_blank">Darcy Alan Patterson</a> Red River College, from The Noun Project</p>
    </footer>

    <!-- Templates -->
    <script id="projectItemTemplate" type="text/x-kendo-tmpl">
        <li>
            <span class="project-name">
                <a href="#= projectURL #" title="#= projectDescription #">#= projectName #</a>

            </span>
            <span class="project-date">#= lastRelease #</span>
            <span class="project-version">
                # if (currentVersionURL.length > 0) { #
                    <a href="#= currentVersionURL #">#= currentVersion #</a>
                # } else { #
                   #= currentVersion #
                # } #
            </span>
            <span class="last-commit">#= lastCommitTime # by
                <a href="http://www.github.com/#= lastCommitUser #">#= lastCommitUser #</a>
            </span>
        </li>
    </script>

    <!-- Scripts -->
    <script src="javascripts/lib/jquery.min.js"></script>
    <script src="javascripts/lib/kendo.all.min.js"></script>
    <script src="javascripts/lib/everlive/reqwest.js"></script>
    <script src="javascripts/lib/everlive/underscore.js"></script>
    <script src="javascripts/lib/everlive/rsvp.js"></script>
    <script src="javascripts/lib/everlive/everlive.js"></script>
    <script src="javascripts/telerik-navigation.min.js"></script>
    <script src="javascripts/lib/moment.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23480938-1']);
        _gaq.push(['_setDomainName', '.kendoui.com']);
        _gaq.push(['_addIgnoredRef', 'kendoui.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
